.buttons-wrapper {
    display: flex;
    justify-content: flex-end;
}

.edit-mode-container button {
    height: 30px;
    width: 55px;
    margin: 0.3rem 0 0.3rem 0.3rem;
    border-color: #2E4B70;
}
