hr {
    margin: 1rem 0 0.5rem;
}

.list-item {
    font-size: 1.1rem;
    margin-left: 1.25rem;
    cursor: pointer;
    user-select: none;
}

.settings-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 0.9rem;
}

.buttons-wrapper {
    background-color: white;
    border-radius: 0.2rem;
}

.buttons-wrapper button {
    width: 30px;
    margin: 3px;
}

.list-group-item.omit {
    color: slategray;
    background-color: #ECF2F4;
}

.list-group-item.important {
    background-color: #FEE3E2;
}

.list-item.important::before {
    content: "! ";
    font-weight: bold;
}

