hr {
    background-color: lightslategray;
    margin: 0.5rem 0 0.3rem;
}

.list-item {
    font-size: 1.1rem;
    line-height: 1.15;
    margin-left: 1.25rem;
    cursor: pointer;
    user-select: none;
}

.settings-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 0.9rem;
}

.buttons-wrapper button {
    height: 30px;
    width: 30px;
    margin: 3px;
    color: white;
    border-color: #848F9A;
}

.list-group-item.omit {
    background-color: #545C64;
}

.list-group-item.important {
    padding-left: 0.77rem;
    border-left-width: 0.3rem;
    border-left-color: tomato;
}


