hr {
    background-color: lightslategray;
    margin: 1rem 0 0.3rem;
}

.list-item {
    font-size: 1.1rem;
    line-height: 1.1;
    cursor: pointer;
    user-select: none;
    white-space: pre-wrap;
}

.settings-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 0.9rem;
    color: lightslategrey;
}

.buttons-wrapper {
    display: flex;
    justify-content: flex-end;
}

.buttons-wrapper button {
    height: 30px;
    width: 30px;
    margin: 3px;
    border-color: #848F9A;
}

.list-group-item.omit {
    background-color: #525A62;
}

.list-group-item.edit {
    background-color: #2E4B70;
    font-size: 1.1em;
}

.list-group-item.important {
    padding-left: 0.6rem;
    border-left-width: 0.4rem;
    border-left-color: tomato;
}

.list-group-item.edit textarea {
    width: 100%;
    box-sizing: border-box;
    min-height: 10rem;
}

.invisible {
    display: none;
}
