/*.item-add-form {
    margin: 2rem -0.2rem 1rem;
    flex-wrap: wrap;
}

.item-add-form input {
    width: auto;
    flex-grow: 1;
    margin: 0.2rem;
}

.item-add-form button {
    margin: 0.2rem;
}*/
