:root {
    --item-color: rgba(216, 235, 255, 0.938);
}

body {
    background-color: slategrey;
}

@media screen and (max-width: 700px) {
    :root {
        font-size: 14px;
    }

    body {
        background-color: #484F56;
    }

    button {
        font-size: 0.95rem;
    }

    .item-status {
        flex-direction: column-reverse;
    }
}
