:root {
    --item-color: rgba(216, 235, 255, 0.938);
}

body {
    background-color: slategrey;
}

.top-panel {
    margin: 1rem 0;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
    :root {
        font-size: 14px;
    }

    button {
        font-size: 0.95rem;
    }
}
