.app-header {
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 1rem;
}

.app-header h1 {
    flex-grow: 1;
    color: #99B3D5;
}

.app-header h5 {
    font-size: 0.9rem;
    color: #C4CCD0;
}
